.App {
  /* text-align: center; */
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* social media styling */

.socialMediaActiveLink{
  border: 3px solid red;
  border-radius: 10px ;
}

/* color gradient */
.greyGrad{
  background: #bdc3c7; 
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7); 
  background: linear-gradient(to right, #2c3e50, #bdc3c7); 
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blackGrad{
  background: #3C3B3F; 
  background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F); 
  background: linear-gradient(to right, #605C3C, #3C3B3F);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.whiteGrad{
  background: #0F2027;  
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027); 
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blueGrad{
  background: #373B44;  
  background: -webkit-linear-gradient(to right, #4286f4, #373B44);
  background: linear-gradient(to right, #4286f4, #373B44);
 
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}