
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* social media styling */

.socialMediaActiveLink{
  border: 3px solid red;
  border-radius: 10px ;
}

/* drag and drop */

.drag-n-drop {
  padding-left: 500px;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(auto-fill, 300px);
  align-items: stretch;
}

.dnd-group {
  background-color: black;
  border-radius: 5px;
}

.dnd-item {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: bisque;
  color: black;
  min-height: 150px;
}

.dnd-item * {
  margin: 0;
}

.dnd-item:not(:last-of-type) {
  margin-bottom: 5rem;
}
.firebaseui-idp-button,
.firebaseui-tenant-button {
    font-weight: 500;
    height: auto;
    line-height: normal;
    max-width: 80px;
    min-height: 40px;
    padding: 15px;
    text-align: left;
    border-radius: 15px;
    border:none;
    cursor: pointer;
}

.firebaseui-idp-text {
  display: none;
}

.firebaseui-idp-text, .firebaseui-idp-text-long{
  display: none;
}

.firebaseui-idp-list{
  display: flex;
  padding: 0px;
}

.firebaseui-list-item{
  margin-left: 20px
}